# Avoid https://github.com/bazelbuild/bazel/issues/14459 since we don't need Xcode
common --repo_env=BAZEL_USE_CPP_ONLY_TOOLCHAIN=1

# Verbose Failures
build --verbose_failures

# Strict PATH. Helps prevent build cache invalidation due to PATH differences.
build --incompatible_strict_action_env=true

# Allow weird paths for gh/jq
test --test_env=PATH

# Provide better error output for failed tests.
test --test_output=errors --test_summary=terse

# Use bzlmod
common --enable_bzlmod

# Enable symlinks on windows
startup --windows_enable_symlinks
